@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <label asp-for="Status">Status: </label>
    <input asp-for="Status">
    <button type="submit">Add</button>
</form>